*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
    color: black
}

h1{
    font-size: 60px;
    font-weight: bold;
}
/* ------------------header */

header{
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.nav-left-blocks{
    height: 100%;
    width: 35%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.nav-right-blocks{
    height: 100%;
    width: 25%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.nav-left-blocks div{
    height: 100%;
    width: calc(100% / 4);
}
.nav-right-blocks div{
    height: 100%;
    width: calc(100% / 3);
}

/* -------------------jumbotron */

.jumbo{
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.container-jumbo{
    height: 400px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

/* ----------------------main */

.container-main{
    width: 70%;
    margin: 0 auto;
}
.container-main h2{
    font-size: 30px;
    padding: 50px 0;
}
.piano-fatturazione{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    gap: 35px;
    margin: 0 0 30px 0;
}
.layout-tabella-piani{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
}
.colonna-tabella-piani{;
    width: calc((100% / 3) - (100px / 3));
    display: flex;
    flex-flow: column nowrap;
}
.tabella-piani{
    height: 700px;
    position: relative;
    border: 1px solid black;
    padding: 30px;
}

.colonna-tabella-piani .titolo-piano{
    display: block;
    padding: 15px;
    width: 100%;
    border: 1px solid black;
    text-align: center;
}






/* -------------------debug */
.debug header{
    background-color: lightgray;
}
.debug nav{
    background-color: rgb(213, 148, 148);
}
.debug nav{
    background-color: rgb(213, 148, 148);
}
.debug nav div{
    border: 1.2px dotted red;
}
.debug main .jumbo{
    background-color: rgb(167, 255, 255);
}
.debug .container-main{
    background-color: beige;
}
.debug .layout-tabella-piani{
    background-color: rgb(84, 135, 125);
}
.debug .tabella-piani{
    background-color: #9bd7ff;
}
.debug .contenuto-piani{
    width: 100%;
    height: 100%;
    background-color: white;
}