*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
    color: black
}

h1{
    font-size: 78px;
    font-weight: bold;
}
.button{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 15px;
    background-color: #0261FE;
}
/* ------------------header */

header{
    background-color: white;
    height: 80px;
    width: 100%;
    position: sticky;
    z-index: 100;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.nav-left-blocks{
    height: 100%;
    width: 35%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.nav-right-blocks{
    height: 100%;
    width: 35%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.nav-left-blocks a{
    height: 100%;
    width: calc(100% / 4);
}
.nav-right-blocks a{
    height: 100%;
    width: calc(100% / 3);
}
nav a{
    text-decoration: none;
    color: black;
}
nav a div{
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

}
.link-logo-nav{
    background-image: url(../img/logo-small.png);
    background-repeat: no-repeat;
    background-position: 50%;
}


/* -------------------jumbotron */

.jumbo{
    height: 700px;
    width: 100%;
    background-color: #B4D0E7;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.container-jumbo{
    height: 600px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
.jumbocontent{
    height: 100%;
    padding-top: 50px;
    display: flex;
    flex-flow: row nowrap;
}
.textjumbo p{
    margin-bottom: 45px;
}
.textjumbo span{
    display: block;
    margin: 45px 0;
}
.textjumbo i{
    font-size: 40px;
    color: black;
}

.jumboimg{
    height: 100%;
    width: 38%;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 861px;
    top: 443px;
}

/* ----------------------main */

.container-main{
    width: 70%;
    margin: 0 auto;
}
.container-main h2{
    font-size: 30px;
    padding: 50px 0;
}
.piano-fatturazione{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    gap: 35px;
    margin: 0 0 30px 0;
}
.layout-tabella-piani{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
}
.colonna-tabella-piani{;
    width: calc((100% / 3) - (100px / 3));
    display: flex;
    flex-flow: column nowrap;
}
.tabella-piani{
    height: 700px;
    position: relative;
    border: 1px solid black;
    padding: 30px;
}

.colonna-tabella-piani .titolo-piano{
    display: block;
    padding: 15px;
    width: 100%;
    border: 1px solid black;
    text-align: center;
}






/* -------------------debug */
/* .debug header{
    background-color: lightgray;
}
.debug nav{
    background-color: rgb(213, 148, 148);
}
.debug nav a{
    border: 1.2px dotted red;
}
.debug main .jumbo{
    background-color: rgb(167, 255, 255); */
}
.debug .container-main{
    background-color: beige;
}
.debug .layout-tabella-piani{
    background-color: rgb(84, 135, 125);
}
.debug .tabella-piani{
    background-color: #9bd7ff;
}
.debug .contenuto-piani{
    width: 100%;
    height: 100%;
    background-color: white;
}